#borderimg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../Visual assets/Gemini_Generated_Image_in1uumin1uumin1u.jpg') no-repeat center center / cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: relative;
    flex: 1;
}

#admin-portal {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    position: relative; /* Changed from absolute to relative */
    bottom: 0; /* Removed from positioning */
    left: 0; /* Removed from positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust height as needed */
    width: 300px; /* Adjust width as needed */
}

#shield-logo {
    width: 100px; /* Adjust the size as needed */
    margin-bottom: 20px;
}

.google-login-button {
    margin-top: 20px; /* Add some margin to the top */
}

.login-shield-button {
    width: 50px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Space between the text and the button */
}
